/*css for all*/
html {
  font-family: Arial, sans-serif;
  line-height: 1.15;

}
body {
  background: #222;
  margin: 0;
}
.main-page-container {
  display: flex;
  flex-direction: column;
}
.main-page-item {
  background-color: #5ea1d4;
  line-height: 70px;
  margin:   5px 10px;
  width: 160px;
  height: 70px;
  border: 1px solid black;
  border-radius: 12px;

}
.main-page-item:hover{
  background-color: #417094;
}
.main-page-item a {
  margin: 5px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
/*css for timer*/
#timer {
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 80px;
}
#days, #hours, #minutes, #seconds{
  border: 1px dashed;
  padding: 10px;
  margin: 5px;
}
#timer span {
 display: block;
 font-size: 20px;
 color: white;
}
/*css for form*/
   .form-container{
   	width: 400px;
    min-width:250px;
   	margin: 20px auto;
   	position: relative;
   }
  .form-valid-lul{
    text-align: center;
  	background: #364351;
  	width: 100%;
  	padding: 30px 0;
  	border-radius: 5px 5px 0 0;
  	color: white;
    font-size:2em;
  }
  .form-valid-lul h1{
    font-size:1em;
  }
  .form-error-box{

  }
  #submit{
  text-transform:uppercase;
  outline:none;
	box-sizing: border-box;
	width: 40%;
	background-color: #5C8CA7;
	padding: 10px;
	color: white;
	border: 1px solid #3498db;
	border-radius: 3px;
	font-size: 0.5em;
	font-weight: bold;
	margin-top: 15px;
	cursor: pointer;
  position:relative;
  top:0;
  }
  #form-error-box{
  background-color: #fafafa;
  color: red;
  clear: right;
  display: none;
  font-size: 104px;
  font-weight: bold;
  height: 75px;
  letter-spacing: 1px;

  border-radius: 0px 0px 3px 3px;
}
#form-error-box p{
  margin: 0px;
  padding: 30px 0px 0px 30px;
  text-align: left;
}
